/* Style untuk halaman register */
.navigation-options {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    a {
      text-decoration: none;
      font-weight: 500;
      color: var(--ion-color-primary);
    }
  }